nav form {
  width: 80px;
  display: inline-block;
}

div.error {
  background-color: #FF4045;
  color: black;
  width: 50%;
  padding: 3px;
  border-radius: 3px;
}

div.notice {
  background-color: #45FF76;
  color: black;
  width: 50%;
  padding: 3px;
  border-radius: 3px;
}

#edit_cc {
  width: 50%;
  td { width: 45% }
  input[type=text] { width: 400px }
}

form{
  width: 50%;
  .radios, .checkboxes {
    label { margin: 0 4px }
  }

  .fieldset {
    label { width: 25%; }
    input { width: 40%; }
  }

  .long-fieldset {
    label { width: 40%; }
    input { width: 40%; }
  }
}

form#csv_upload {
  width: 50%;
  margin-top: 8px;
  .fieldset {
    label { width: 25%; }
    input { width: 40%; }
  }
}

@media (max-width: 1225px) {
  form#csv_upload {
    width: 50%;
    margin-top: 8px;
    .fieldset {
      margin-bottom: 4px;
      label {
        width: 100%;
      }
      input { width: 100%; }
    }
  }
}
